/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/* Container */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styling */
header {
    background-color: #001f3d; /* Dark Navy Blue */
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Profile Pic Style */
.profile-pic {
    display: block;
    margin: 20px auto;
    width: 200px; /* Adjust size as needed */
    height: auto;
    border-radius: 50%;
    border: 4px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* For the novel poster */
.novel-poster {
    width: 45%; /* Increased size of the poster */
    max-width: 650px; /* Maximum width limit */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}

/* Section Styling */
.section {
    margin: 80px 0 50px 0;
    padding: 20px 0;
    text-align: center;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.section blockquote {
    margin-top: 20px;
    font-style: italic;
    color: #333;
}

/* Button Style */
.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #001f3d; /* Dark Navy Blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.button:hover {
    background-color: #003366; /* Lighter Navy Blue */
}

/* Footer Styling */
footer {
    background-color: #001f3d; /* Dark Navy Blue */
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}
